body {
background-color:#0065a7;
font-family: Calibri, Candara, Arial, sans-serif;
}

#img1 {
	width:280px;
	 padding : 0;
}

#leheader {
background-color:#004975;
position: float;
z-index: 1;
}

#navigation1, #navigation2, #navigation3, #navigation4, #navigation5 {
	background-color:#004975;
	min-height: 60vh;
 	border-left: 3px;
	border-top: 3px;
 	border-style:solid;
 	border-color:black;
 	padding-left : 0;
 	color: white;
}

#activite, #boutique, #contact, #reseau {
	background-color:#0065a7;
	 border-width:3px;
	border-style:solid;
	border-color:black;
}

#photo {
	 background-image: url("img/couverture.png");
	 background-repeat: no-repeat;
	 background-position: right;
}

.panel-body {
	list-style-type:none;
}

#decal1, #decal2, #decal3, #decal4, #decal5, #decal6, #decal7, #decal8, #decal9, #decal10{
	margin-top: 20px;
}

#reseau{
	color: black;
}

#decal2{
	text-align: center;
	color: black;
	border: solid black 2px;
	background color: lightgrey;
}

div{
	color: black;
}