body {
background-color:#0065a7;
}

#img1 {
	width:300px;
}

#leheader {
background-color:#004975;
position: float;
z-index: 1;
}

#navigation {
background-color:#004975;
min-height:60vh;
 border-width:3px;
 border-style:solid;
 border-color:black;
}

#activite, #boutique, #contact, #reseau {
	background-color:#0065a7;
	 border-width:3px;
	border-style:solid;
	border-color:black;
}