body {
background-color:#0065a7;
}

#img1 {
	width:280px;
	 padding : 0;
}

#leheader {
background-color:#004975;
position: float;
z-index: 1;
}

#navigation {
background-color:#004975;
min-height:67vh;
 border-width:3px;
 border-style:solid;
 border-color:black;
 padding : 0;
}

#activite, #boutique, #contact, #reseau {
	background-color:#0065a7;
	 border-width:3px;
	border-style:solid;
	border-color:black;
}

#photo {
	 background-image: url("img/couverture.png");
	 background-repeat: no-repeat;
	 background-position: right;
}

.panel-body {
	list-style-type:none;
}